@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
@import "../fonts/CircularStd-Medium/style.css";

:root {
    --accent-font-color: #050038;
    --general-font-color: #5B5E6D;
    --button-accent-color: #0555FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
    color: var(--general-font-color);
}

.container {
    max-width: 1320px;
    /*todo think about better way*/
    width: 90%;
    margin: 0 auto;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    color: var(--accent-font-color);
}

.header__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    color: #000000;
}

.header__links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 16px;
    line-height: 19px;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

.header__sign-in-link {
    text-decoration: none;
    color: var(--accent-font-color);
}

.btn {
    font-size: 19px;
    line-height: 23px;
    border: none;
    border-radius: 30px;
}

/*todo padding in try-for-free-btn in header and in intro section is not the equal. Refactor this later*/
.try-for-free-btn {
    padding: 20px 60px 15px 35px;
    background-color: var(--button-accent-color);
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

/*intro section*/
.main__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /*margin-top: 100px;*/
    text-align: center;
}

.intro__header {
    font-family: 'Circular Std', sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    color: var(--accent-font-color);
}

.intro__text {
    font-size: 22px;
    line-height: 32px;
}

.intro__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.intro__discover-video-btn {
    padding: 20px 40px;
    color: var(--button-accent-color);
    background-color: #ffffff;
    box-shadow: 0 10px 40px rgba(176, 201, 253, 0.3);
}

/*main product view section*/
.main__product_view {
    /*margin-top: 100px;*/
    text-align: center;
}

.product_view__img {
    object-fit: cover;
    width: 966px;
}

/*companies section*/
.main__companies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies__header {
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
}

.swiper {
    width: 960px;
    height: 100px;
    user-select: none;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide img {
    height: 100px;
    width: 90%;
    object-fit: contain;
}

.swiper-pagination {
    top: 80px;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--accent-font-color);
    opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0;
    background-color: rgba(5, 0, 56, 0.5);
    opacity: 1;
    /*hide not active button (because figma layout have only 3 bullets)*/
    visibility: hidden;
}

.swiper-pagination-bullet-active-main {
    /*show only 3 active bullets*/
    visibility: visible;
}

/* logistic section*/
.main__logistic-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.logistic__header {
    font-family: 'Circular Std', sans-serif;
    font-weight: 900;
    font-size: 42px;
    line-height: 53px;
    color: var(--accent-font-color);
}

.logistic__text {
    width: 780px;
    font-size: 20px;
    line-height: 32px;
}

.logistic__spellon-work-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: rgba(5, 85, 255, 0.1);
    color: var(--button-accent-color);
}

.logistic__spellon-work-btn span {
    font-size: 15px;
    line-height: 32px;
}

/*develop, build, update section*/
.main__develop, .main__build, .main__update {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.feature__text-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feature__header {
    font-family: 'Circular Std', sans-serif;
    font-size: 72px;
    line-height: 91px;
    font-weight: 900;
    color: var(--accent-font-color);
}

.feature__text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}

.feature__learn-more {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid var(--button-accent-color);
}

/*reviews section*/
.bg-reviews {
    background-color: #F8F8FA;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    /*todo fix this*/
    padding: 70px 0;
}

.reviews__headers {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reviews__first-header {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.reviews__second-header {
    font-size: 72px;
    font-weight: 900;
    color: var(--accent-font-color);
}

.reviews__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*todo fix this*/
    flex: 0 0 31.8%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.review-card__head {
    display: flex;
    gap: 10px;
    color: var(--accent-font-color);
}

.review-card__author {
    flex-grow: 1;
}

.review-card__author-name {
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.review-card__author-login {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #596068;
}

.review-card__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/*lets start section*/
.bg-darkblue {
    background-color: #130C3A;
}

.lets-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 150px 0;
}

.lets-start__header {
    font-size: 72px;
    line-height: 85px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.lets-start__form {
    display: flex;
}

.lets-start__form input {
    width: 530px;
    padding: 24px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px 0 0 10px;
    outline: none;
}

.lets-start__form button {
    padding: 25px 50px;
    background-color: var(--button-accent-color);
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
}

/*footer section*/
footer {
    display: flex;
    gap: 100px;
}

.footer-general {
    flex: 1 0 auto;
}

.footer-general__icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-general__icons img {
    width: 20px;
    height: 20px;
    filter: invert(80%) sepia(10%) saturate(18%) hue-rotate(17deg) brightness(97%) contrast(92%);
}


footer div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__header {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: #ffffff;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links a {
    font-size: 16px;
    line-height: 28px;
    color: #7884A6;
    text-decoration: none;
}

/*postfooter*/
.post-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;
    color: #ffffff;
}

.post-footer img {
    width: 16px;
    height: 16px;
}